.div1 {
    background-color: rgb(201, 27, 120);
}

.div2 {
    background-color: rgb(124, 46, 197);
}

.div3 {
    background-color: rgb(29, 12, 92);
}

.container {
    border: 2px solid darkgoldenrod; /*so pra enxergarmos melhor*/
    max-width: 400px;/*limita o tamanho do elemento  */
    margin: 0 auto;
    display: flex; /*os itens ficam lado a lado*/
}

.item {
    background-color: royalblue ;
}