h1{
    text-align: center;
    
}

th, td{
    border: 2px dotted #360370;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    color: rgb(162, 11, 11);
    
}


body{
    border: 30px;
}